.div1{
  width: 1000px;
  height: 100px;
  background-color: green;
  border: 0px solid;
  margin: auto;
  position: relative;
  color: white;
  padding-left: 10px;
}
.div2{
  width: 200px;
  height: 40px;
  background-color: #33b5e5;
  border: 0px solid;
  position: absolute;
  top: 120px;
  left: 15px;
  color: white;
  padding-left: 5px;
}
.div3{
  width: 200px;
  height: 40px;
  background-color: #33b5e5;
  border: 0px solid;
  position: absolute;
  left: 15px;
  top: 180px;
  padding-left: 5px;
  color: white;
}
.div4{
  width: 200px;
  height: 40px;
  background-color: #33b5e5;
  border: 0px solid;
  position: absolute;
  left: 15px;
  padding-left: 5px;
  color: white;
  top: 240px;
}
.div5{
  width: 200px;
  height: 40px;
  background-color: #33b5e5;
  border: 0px solid;
  position: absolute;
  left: 15px;
  color: white;
  padding-left: 5px;
  top: 300px;
}
.div6{
  width: 200px;
  height: 40px;
  background-color: #33b5e5;
  border: 0px solid;
  position: absolute;
  left: 15px;
  color: white;
  padding-left: 5px;
  top: 360px;
}
.div7{
  width: 1000px;
  height: 80px;
  background-color: green;
  border: 0px solid;
  margin: auto;
  position: relative;
  top: 330px;
  color: white;
  text-align: center;
}
h1{
  position: absolute;
  top: 10px;
}
.text{
  padding-left: 250px;
  padding-top: 150px;
  color: black;
  font-size: 1em;
}
