.d1 {
    border-top: solid 3px yellow;
    border-left: solid 5px green;
    border-bottom: solid 7px yellow;
}

span{
    background-color: red;
    color: blue;
    font-style: italic;
    font-size: 2em;
    text-decoration: line-through;
}

.d2 {
    border-top: solid 3px green;
    font-style: italic;
    border-top: dotted 3px green;
    border-left: dotted 3px green;
    border-bottom: dotted 3px green;
    border-right: dotted 3px green;
}

.d3 {
    text-align: center;
    border-top: dotted 3px green;
    border-left: dotted 3px green;
    border-bottom: dotted 3px green;
    border-right: dotted 3px green;
}

.d4 {
    border-bottom: solid 50px green;
    border-top: solid 50px blue;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}
